.findvideo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    margin: auto;

    &__queryLabel{
        font-size: 30px;
        color: white;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    &__searchField{
        box-shadow: none;
        border: none;
        padding: 10px;
        width: 600px;
        font-size: 30px;
        border-radius: 15px;
        color: #4d4d4d;

        &:focus{
            outline: none;
        }
    }

    &__numberLabel{
        font-size: 30px;
        color: white;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    &__numberField{
        border: none;
        padding: 10px;
        border-radius: 15px;
        color: #4d4d4d;
        font-size: 30px;
        width: 150px;
    }

    &__searchBtn{
        padding: 10px;
        background-color: white;
        border: none;
        box-shadow: none;
        font-size: 30px;
        border-radius: 15px;
        transition: all .3s;
        margin-top: 60px;
        cursor: pointer;
        color: #4d4d4d;

        &:hover{
            background-color: #d9d9d9;
        }
    }

    &__resultsHeader{
        color: white;
        font-size: 30px;
        margin: 0;
        margin-top: 60px;
    }

    &__results{
        &__result{
            background-color: white;
            padding: 10px;
            border-radius: 15px;
            margin: 30px 0px;

            &__title{
                color: #333333;
                font-size: 30px;
                margin: 0px 0px 20px 0px;
            }

            &__linkContainer{
                margin-top: 30px;
                background-color: #3333ff;
                padding: 5px;
                border-radius: 10px;
                width: 50px;
                transition: all .3s;
                &__text{
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                }
                &:hover{
                    background-color: #6666ff;
                }
            }

            &__entities{
                display: flex;
                flex-wrap: wrap;

                &__entity{
                    background-color: #ccccff;
                    padding: 5px;
                    margin: 0px 5px 5px 0px;
                    border-radius: 5px;
                    color: #333333;
                }
            }


        }
    }
}
